.grid-container .grid-row .grid-cell {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.grid-container .grid-row .grid-cell:nth-child(2n) {
  padding-left: 20px;
}
.grid-container .grid-row .grid-cell:nth-child(2n+1) {
  padding-right: 20px;
}
.grid-container .grid-row .grid-cell.grid-cell-25 {
  width: 25%;
}
.grid-container .grid-row .grid-cell.grid-cell-50 {
  width: 50%;
}
.grid-container .grid-row .grid-cell.grid-cell-75 {
  width: 75%;
}
.grid-container .grid-row .grid-cell.grid-cell-100 {
  width: 100%;
}
@media (max-width: 1024px) {
  .grid-container .grid-row .grid-cell {
    width: 100%;
    float: none;
    padding-bottom: 20px;
  }
  .grid-container .grid-row .grid-cell:nth-child(2n) {
    padding-left: 0;
  }
  .grid-container .grid-row .grid-cell:nth-child(2n+1) {
    padding-right: 0;
  }
}

* {
  font-family: "Kumbh Sans", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: #1B2732;
  position: fixed;
}

.container {
  position: relative;
  color: #FFF;
  padding: 30px 10px;
}
.container .header {
  width: 100%;
  text-align: center;
}
.container .mistakes {
  margin-right: 40px;
  float: right;
}
.container .sub-headers {
  text-align: center;
  margin: 40px;
}
.container .sub-headers div {
  margin: 10px 0;
}
.container .sub-headers #word-spotlight {
  padding: 20px 0;
}
.container .sub-headers .letter, .container .sub-headers .button-info {
  padding: 8px !important;
}
.container .sub-headers .typewriter {
  display: inline-block;
  width: 340px;
  margin: 0 auto;
  color: #FFF;
  overflow: hidden;
  border-right: 0.15em solid #FFA500;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFA500;
  }
}
.container .sub-headers .astronaut {
  position: relative;
  width: 185px;
  height: 300px;
  margin: 0 auto;
}
.container .sub-headers .astronaut-backpack {
  background-color: #BFBFBF;
  position: absolute;
  top: 90px;
  left: 47px;
  width: 86px;
  height: 90px;
  content: "";
  border-radius: 8px;
}
.container .sub-headers .astronaut-body {
  background-color: #E6E6E6;
  position: absolute;
  top: 115px;
  left: 55px;
  width: 70px;
  height: 80px;
  border-radius: 8px;
}
.container .sub-headers .astronaut-body-chest {
  background-color: #D9D9D9;
  margin: 20px 12px;
  width: 46px;
  height: 25px;
  border-radius: 6px;
}
.container .sub-headers .astronaut-head {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  border-radius: 2em;
  background-color: #FFF;
}
.container .sub-headers .astronaut-head:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 25px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

/*# sourceMappingURL=main.css.map */
