@import "variables";
@import "grid";

* {
  font-family: $font-main;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: $color-mirage;
  position: fixed;
}

.container {
  position: relative;
  color: $color-white;
  padding: 30px 10px;

  .header {
    width: 100%;
    text-align: center;
  }

  .sub-headers {
    text-align: center;
    margin: 30px 0;

    &--head {
      font-size: 20px;
    }

    &--sub {
      font-size: 12px;
      margin: 5px 0;
    }

    &--mistakes {
      margin: 10px 0 0;
      font-size: 17px;
      font-weight: bold;
      color: $color-mandy
  
    }

    #word-spotlight {
      padding: 20px 0;
    }

    .letter,
    .button-info {
      padding: 8px !important;
    }

    .astronaut {
      position: relative;
      width: 185px;
      height: 300px;
      margin: 0 auto;

      &.explosion {
        display: none;
      }

      &-backpack {
        background-color: $color-silver;
        position: absolute;
        top: 90px;
        left: 47px;
        width: 86px;
        height: 90px;
        content: "";
        border-radius: 8px;
      }

      &-body {
        background-color: $color-mercury;
        position: absolute;
        top: 115px;
        left: 55px;
        width: 70px;
        height: 80px;
        border-radius: 8px;

        &-chest {
          background-color: $color-alto;
          margin: 20px 12px;
          width: 46px;
          height: 25px;
          border-radius: 6px;
        }
      }

      &-arm {
        position: absolute;
        background-color: $color-mercury;
        width: 45px;
        height: 20px;
        border-radius: 8px;
        &.left-part-1 {
          top: 127px;
          left: 15px;
        }
        &.left-part-2 {
          top: 123px;
          left: 0;
          transform: rotate(30deg);
          width: 25px;
        }
        &.left-thumb {
          top: 120px;
          left: 12px;
          width: 10px;
          height: 6px;
          transform: rotate(70deg);
        }
        &.left-wrist,
        &.right-wrist {
          background-color: $color-bondi-blue;
          width: 20px;
          height: 4px;
        }
        &.left-wrist {
          top: 134px;
          left: 10px;
          transform: rotate(-70deg);
        }
        &.right-part-1 {
          top: 130px;
          left: 115px;
          transform: rotate(25deg);
        }
        &.right-part-2 {
          top: 135px;
          left: 150px;
          transform: rotate(-25deg);
          width: 25px;
        }
        &.right-wrist {
          top: 144px;
          left: 145px;
          transform: rotate(-90deg);
        }
      }

      &-leg {
        background-color: $color-mercury;
        position: absolute;
        width: 23px;
        height: 75px;
        &.left {
          top: 188px;
          left: 50px;
          transform: rotate(10deg);
          &-foot {
            left: 43px;
            transform: rotate(10deg);
          }
        }
        &.right {
          top: 188px;
          left: 106px;
          transform: rotate(-10deg);
          &-foot {
            left: 108px;
            transform: rotate(-10deg);
          }
        }

        &.left-foot,
        &.right-foot {
          background-color: $color-java;
          top: 240px;
          width: 28px;
          height: 20px;
          border-radius: 3px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom: 4px solid $color-white;
        }
      }

      &-head {
        position: absolute;
        top: 60px;
        left: 60px;
        width: 60px;
        height: 60px;
        border-radius: 2em;
        background-color: $color-white;

        &:before {
          content: "";
          position: absolute;
          width: 50px;
          height: 40px;
          top: calc(50% - 20px);
          left: calc(50% - 25px);
          background: -webkit-linear-gradient(
            top,
            $color-java 0%,
            $color-java 50%,
            $color-bondi-blue 50%,
            $color-bondi-blue 100%
          );
          border-radius: 15px;
        }
      }
    }

    .meteor {
      background: $color-aqua;
      position: absolute;
      left: -5%;
      top: 40vh;
      height: 50px;
      width: 90px;
      padding: 5px;
      -webkit-border-radius: 0 500px 500px 0;
      -moz-border-radius: 0 500px 500px 0;
      -ms-border-radius: 0 500px 500px 0;
      -o-border-radius: 0 500px 500px 0;
      border-radius: 0 500px 500px 0;
      -webkit-box-shadow: 6px 0px 35px $color-robins-egg-blue;
      -moz-box-shadow: 6px 0px 35px $color-robins-egg-blue;
      box-shadow: 6px 0px 35px $color-robins-egg-blue;
      overflow: hidden;

      &.explosion {
        display: none !important;
      }

      &-first-layer {
        background: linear-gradient(
          to right,
          $color-mandy 50%,
          $color-jaffa 100%
        );
        -webkit-border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -ms-border-radius: 200px 200px 200px 200px;
        -o-border-radius: 200px 200px 200px 200px;
        border-radius: 200px 200px 200px 200px;
        position: absolute;
        top: 2px;
        left: 40%;
        width: 55px;
        height: 55px;

        .meteor-second-layer {
          content: "";
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 50px solid $color-mandy;
          position: absolute;
          left: -20px;
          top: 5px;
          &.second-triangle {
            top: 15px;
            border-right-width: 70px;
            left: -40px;
          }
          &.third-triangle {
            top: 30px;
            border-right-width: 60px;
            left: -30px;
          }
        }
      }

      &.mistake-1 {
        left: 1% !important;
      }

      &.mistake-2 {
        left: 7% !important;
      }

      &.mistake-3 {
        left: 13% !important;
      }

      &.mistake-4 {
        left: 19% !important;
      }

      &.mistake-5 {
        left: 25% !important;
      }

      &.mistake-6 {
        left: 31% !important;
      }
    }

    .boom-container {
      position: relative;
      display: none;
      width: 80px;
      height: 300px;
      text-align: center;
      align-items: center;
      transform: translateY(-50%);
      left: 47%;
      top: 170px;

      &.explosion {
        display: flex;
      }

      .shape {
        display: inline-block;
        position: relative;
        opacity: 0;
        transform-origin: center center;

        &.triangle {
          width: 0;
          height: 0;
          border-style: solid;
          transform-origin: 50% 80%;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          margin-left: -25px;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent $color-orange transparent;
          animation-name: boom-triangle-big;
        }

        &.circle {
          width: 20px;
          height: 20px;
          animation-name: boom-circle;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          border-radius: 100%;
          margin-left: -30px;

          &.red {
            border: 1px solid $color-mandy;
          }

          &.big {
            width: 40px;
            height: 40px;
            margin-left: 0px;

            &.orange {
              border: 2px solid $color-jaffa;
            }
          }
        }

        &:after {
          background-color: rgba(178, 215, 232, 0.2);
        }
      }

      .shape {
        &.triangle,
        &.circle,
        &.circle.big {
          animation-delay: 0.38s;
          animation-duration: 3s;
        }

        &.circle {
          animation-delay: 0.6s;
        }
      }
    }
  }

  @keyframes boom-circle {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(3);
    }
    100% {
    }
  }

  @keyframes boom-triangle-big {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }

    40% {
      opacity: 0;
      transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
    100% {
    }
  }

  &.loader-correct-width {
    @media (max-width: 966px) {
      display: none;
    }
  }

  &.loader-wrong-width {
    display: none;
    @media (max-width: 965px) {
      display: block;
      .header {
        width: 50%;
        margin: 50px auto;
        font-size: 20px;
      }
    }
  }
}
