@import "variables";
@import 'grid';

* {
  font-family: $font-main
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: $color-mirage;
  position: fixed;
}

.container {
  position: relative;
  color: $color-white;
  padding: 10px;

  .header {
    width: 100%;
    text-align: center;
  }
}