$color-white: #fff;
$color-mercury: #e6e6e6;
$color-silver: #bfbfbf;
$color-alto: #d9d9d9;
$color-black: #000;
$color-mine-shaft: #222222;
$color-mirage: #1b2732;
$color-mandy: #e54c5b;
$color-jaffa: #f3784d;
$color-orange: #ffa500;
$color-java: #15aece;
$color-bondi-blue: #0391bf;
$color-aqua: #0dffe1;
$color-robins-egg-blue: #00dfd4;

$font-main: "Kumbh Sans", sans-serif;
